<!DOCTYPE html>
<html>
<head>
    <title>Catalog</title>
    <link rel=stylesheet type=text/css href="/static/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">

        <li><a href="{{ url_for('index') }}">Search</a></li>
        <li><a href="{{ url_for('edit') }}">Edit</a></li>
        {#        {% if logged_in %}#}
        {#            <p class="navbar-text navbar-right">Logged in as {{ username }}</p>#}
        {#            <a href="{{ url_for('logout') }}" class="text-left">Logout</a>#}
        {#        {% else %}#}
        <li class="navbar-right"><a href="{{ url_for('login') }}">Login</a></li>
        {#        {% endif %}#}
    </ul>
</nav>

{% block content %}{% endblock %}
</body>
</html>