<!DOCTYPE html>
<html>
<head>
    <title>Catalog {% block title %}{% endblock %}</title>
    <link rel=stylesheet type=text/css href="/static/css/bootstrap.css">
    <link rel=stylesheet type=text/css href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="/static/js/catalog.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">

        <li><a href="{{ url_for('search') }}">Search</a></li>
        <li><a href="{{ url_for('edit') }}">Edit</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if user %}
            <li><p class="navbar-text">Logged in as <b>{{ user.email }}</b></p></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('registration') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>

{% block content %}{% endblock %}
</body>
</html>
