<table id="book-table" class="table table-bordered">
    <thead>
        <th><input id="id-select-all-checkbox" type="checkbox"></th>
        <th>Author</th>
        <th>Book</th>
        <th>Edit</th>
    </thead>

    <tbody>
    {% for book in books %}
        <tr>
            <td>
                <input type="checkbox" class="book-table-checkbox" name="selected_books"
                       id="book-{{ book.id }}"
                       value="{{ book.id }}"
                       data-book="{{ book }}"
                       data-authors="{{ book.authors[0] }}">
            </td>

            <td class="editable">
                <span>{{ book.authors[0].name }}</span>
                <input type="text" value="{{ book.authors[0].name }}" hidden>
            </td>
            <td class="editable">
                <span>{{ book.title }}</span>
                <input type="text" value="{{ book.title }}" hidden>
            </td>
            <td>
                <input type="button" class="edit-button" value="Edit"
                    id="button-{{ book.id }}"
                    data-book-id="{{ book.id }}">
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
