<table id="book-table" class="table">
    <thead>
    <th><input id="id-select-all-checkbox" type="checkbox"></th>
    <th>Author</th>
    <th>Book</th>
    </thead>

    <tbody>
    {% for book in books %}
        <tr>
            <td>
                <input class="book-table-checkbox" type="checkbox" name="selected_books"
                       id="{{ book.id }}"
                       data-book="{{ book }}"
                       data-authors="{{ book.authors[0] }}">
            </td>
            <td>{{ book.authors[0].name }}</td>
            <td>{{ book.title }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
