<table id="book-table" class="table table-bordered">
    <thead>
        <th><input id="id-all-checkbox" type="checkbox"></th>
        <th>Author</th>
        <th>Book</th>
        <th>Edit</th>
    </thead>

    <tbody>
    {% for book in books %}
        <tr>
            <td>
                <input type="checkbox" class="book-table-checkbox" name="selected_books" value="{{ book.id }}">
            </td>

            <td class="editable">
                <span>{{ book.authors|join(', ', attribute='name') }}</span>
                <input type="text" value="{{ book.authors|join(', ', attribute='name') }}" hidden>
            </td>
            <td class="editable">
                <span>{{ book.title }}</span>
                <input type="text" value="{{ book.title }}" hidden>
            </td>
            <td>
                <input type="button" class="edit-button" value="Edit" data-book-id="{{ book.id }}">
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
