{% extends "base.html" %}

{% block title %}Search{% endblock %}
{% block content %}
    <div class="search-page">
        <form class="search-form" action="{{ url_for('search') }}">
            {{ form.search.label }}{{ form.search }}
            <input type="submit" class="btn btn-primary" value="Search">
        </form>

        {% if books %}
            {% include 'book-table.html' %}
        {% else %}
            <p>No books in catalog yet!</p>
        {% endif %}
    </div>
{% endblock %}